{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link href="{% static 'frameworks/bootstrap/dist/css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'frameworks/font-awesome/css/font-awesome.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="well h2 text-center" style="color:red;">Error: 404
    <p>
        <i class="fa fa-error" style="color:red;"></i>
    </p>
    </div>
</div>
</body>
</html>